@charset "utf-8";
/* CSS Document */
.regislate{
	   position:absolute;
	   left:; 
	   
	}
form{	
	   margin: auto;
	   
	}
table{       
       border:dotted thin #FFF;
	   background-color:#70E7E3;
	   border-radius:2px;
	   box-shadow:2px 2px #999999;	
	   border-collapse:collapse;
	   outline:dotted medium #C3F; 
	   outline-radius:10px;
	   overflow:hidden;	 
	   height:300px ;
	   width:300px; 
	}
td{    border:dotted thin #C3F;
       empty-cell:show;
	}
caption{
	   border:solid thin #CCC;  
	   text-align:left;
	   color:#F06;
	   background-color:#CCC;
	}
span.transpanrent{
	color:#70E7E3;	
	}
p.button_1{
	text-align:center;
	}
p.button_1>input{
	color:#FFF;
	background-color:#F93;
	height:30px;
	width:120px;
	}
.red{
	color:#F00;
	}
.forgetPassword{
	cursor:pointer;
	}