/*内容*/
.content{width:1180px;height:600px;margin: auto;margin-top:10px;padding:10px;}

.content .menu-tree{float:left;width:140px;height:250px;margin-left:50px;border:1px solid #de0304;}
.menu-tree  table{margin:0 auto;}
.menu-tree  th{width:100px;height:35px;margin:0 auto;}
.menu-tree  td{width:100px;height:35px;text-align:center}
.menu-tree  table a{text-decoration:none;}
       /*个人中心*/
.main{float:left;width:900px;height:140px;margin:30px 20px 10px 30px;border:1px solid #de0304;}
.main-user{width:900px;height:50px;border-bottom:1px solid #de0304;background-color:#f5f8fa;}
.user-infrom{float:left;width:200px;height:20px;text-align:center;margin:15px 0px 15px 30px;}
.user-stuffs{float:left;width:200px;height:20px;text-align:center;margin:15px 0px 15px 400px;}
.main-content{width:900px;height:90px;}
.main-content li{float:left;width:224px;height:20px;text-align:center;margin:35px 0px 35px 0px;border-right:1px solid #de0304}
.main a{text-decoration:none;}
        /*个人资料*/
.main-Information{float:left;width:900px;height:550px;;margin:0px 20px 0px 30px;border:1px solid #de0304;}
.Information-head{width:900px;height:65px;border-bottom:1px solid #de0304;}
.Information-head p{line-height: 25px;margin:10px 0px 5px 50px;}
.Information-form p{line-height: 35px;margin:10px 0px 10px 50px;}
.Information-form  form .name{margin:10px 0px 0px 50px;}
.Information-form  form span{margin-left:100px;}
.Information-form  label{display:inline-block;width:6em;}
.main-Information  .butt{width:40px;height:25px;background:#de0304;text-align:center;margin:10px 0px 5px 200px;}
.main-Information  button{background:#de0304;margin:3px 0px 0px 0px;}
.main-Information .wrap{width:900px;height:15px;}
.main-Information .wrap .Information-tail{width:800px;height:15px;margin:0px 50px 0px 50px;border-top:1px dashed #de0304;}
        /*收货地址*/
.receiver{margin-left:222px;width:900px;height:550px;border:1px solid #de0304;}
.receiver h2{margin:10px 0px 5px 50px;}
.receiver .new{color:#de0304;}
.receiver p{line-height: 35px;margin:10px 0px 10px 50px;}
.receiver span{display:inline-block;width:7em;text-align:right;vertical-align:top;}
.receiver label{display:inline-block;width:7em;text-align:right;}
.receiver .default{margin:10px 0px 10px 130px;}
.receiver .address-detail{height:100px;}
.receiver .butt{width:40px;height:25px;background:#de0304;text-align:center;margin:10px 0px 5px 200px;}
.receiver  button{background:#de0304;margin:3px 0px 0px 0px;}

.receiver .already{color:#de0304;}
.receiver table{margin:0px 0px 0px 50px; text-align:center;border:1px solid #de0304;border-collapse: collapse;}
.receiver table .col-man{width:60px;}
.receiver table .col-address{width:300px;}
.receiver table .col-phone{width:100px;}
.receiver table .col-actions{width:100px;}
.receiver table tr{height:30px;}
.receiver table th,.receiver table td{padding:0px;border:1px solid #de0304;}
.receiver table a{text-decoration:none;}
		/*浏览历史*/
.history-goods-area-box{float:left;margin:0 30px;width: 900px;overflow:hidden;}
.history-goods-area-box .goods{}
.history-goods-area-box .goods .goods-box{ float:left; width:180px; height:180px; position: relative;}
.history-goods-area-box .goods-pic:hover i{display: block;}
.history-goods-area-box .goods .goods-hover .goods-pic .goods-delete i{width:34px;height:40px;display:inline-block;background: url(../images/icon.jpg) no-repeat;background-position: -282px -162px;position: absolute;top: 0;right: 25px}
.history-goods-area-box .goods .goods-box .goods-attr h3 { font-size:15px; color:#666; line-height:16px; }
.history-goods-area-box .goods .goods-box .goods-attr p { font-size:13px; color:#333; line-height:16px; }
.history-goods-area-box .goods .goods-box .goods-attr .price{ padding-top: 10px; width: 66%;}
.history-goods-area-box .goods .goods-box .goods-attr .price .price_d{margin-right: 10px;}
.history-goods-area-box .goods .goods-box .goods-attr .price .price_m{margin-left: 10px;}
		/*收藏*/
.colection-goods-area-box{float:left;margin:0 30px;width: 900px;overflow:hidden;}
.colection-goods-area-box .goods{}
.colection-goods-area-box .goods .goods-box{ float:left; width:180px; height:180px; position: relative;}
.colection-goods-area-box .goods-pic:hover i{display: block;}
.colection-goods-area-box .goods .goods-hover .goods-pic .goods-delete i{width:34px;height:40px;display:inline-block;background: url(../images/icon.jpg) no-repeat;background-position: -282px -162px;position: absolute;top: 0;right: 25px}
.colection-goods-area-box .goods .goods-box .goods-attr h3 { font-size:15px; color:#666; line-height:16px; }
.colection-goods-area-box .goods .goods-box .goods-attr p { font-size:13px; color:#333; line-height:16px; }
.colection-goods-area-box .goods .goods-box .goods-attr .price{ padding-top: 10px; width: 66%;}
.colection-goods-area-box .goods .goods-box .goods-attr .price .price_d{margin-right: 10px;}
.colection-goods-area-box .goods .goods-box .goods-attr .price .price_m{margin-left: 10px;}
		/*购物记录*/
.order-list-box{margin-left:222px;width:900px;height:550px;border:1px solid #de0304;}
.order-list-box .order-list-item-box{width:800px;height:120px;margin:10px 50px 10px 50px;border:1px solid #de0304;}
.order-list-box .order-list-item-box .item-head{height:20px;margin:5px 0px 5px 30px;}
.order-list-box .order-list-item-box .item-head span{display:inline-block;width:200px;}
.order-list-box .order-list-item-box table img{width:80px;height:80px;}
.order-list-box .order-list-item-box table{margin-left:50px;border-collapse: collapse;}
.order-list-box .order-list-item-box table td{width:130px;text-align:center;}
.order-list-box .order-list-item-box table  table{width:350px;}