@charset "gb2312";
/* CSS Document */

.btn-box a,.settlement-btn,.shop-activity-trigger,.shop-activity-trigger .arrow,.arrow{background:transparent url(/images/new_icon.png) no-repeat -9999px -9999px;}
.new-tip{color:#f00;font-weight:bold;}
.scAgree{overflow:hidden;text-align:right;color:#a00;margin-bottom:10px}
.scBookingSm{overflow:hidden;text-align:right;margin-top:5px;background-image:url(/images/booking/shoppingCartIco.gif);background-repeat:no-repeat;float:right;padding-left:20px;color:#F30;font-weight:700}
.buyError{background-image:url(/images/ic_shoppingCart_error.gif);background-repeat:no-repeat;padding-left:25px;font-size:14px;color:#FF0B0B;height:25px;padding-top:3px;font-weight:700;margin-top:10px;margin-bottom:10px}
.buyAlarm{background-image:url(/images/ic_shoppingCart_alarm.gif);background-repeat:no-repeat;padding-left:20px;font-size:14px;color:#F32E14;height:25px;padding-top:3px;font-weight:700;margin-top:10px;margin-bottom:10px}

.sc2lcsm{width:1200px;overflow:hidden}
.sc2lcsm .sc2gwc{float:left;width:200px;background-image:url(/images/new1/shoppingCart4.gif);background-position:5px 0;background-repeat:no-repeat;height:21px}
.sc2lcsm .sc2js{padding-top:6px;float:right;color:#333}

.sc2lc{font-weight:700;overflow:hidden;margin-bottom:25px}
.sc2lc .lc1{float:left;height:22px;width:140px;background-image:url(/images/new1/lc1.gif);padding-top:7px;padding-left:10px;color:#fff}
.sc2lc .lc1_2{float:left;height:22px;width:202px;background-color:#e3e3e3;padding-top:7px;padding-left:10px;color:#888}
.sc2lc .lc{float:left;height:22px;width:179px;background-image:url(/images/new1/lc.gif);background-repeat:no-repeat;background-color:#e3e3e3;padding-top:7px;padding-left:30px;color:#888}
.sc2Alarm{margin-bottom:15px;color:#000;font-weight:400;font-size:14px;line-height:24px}
.sc2Alarm .strong{color:#333}

.sc2List{width:1200px;overflow:hidden}
.sc2List h3{padding: 50px;text-align: center;color: #ababab;}
.sc2List .sc2Id{color:#888;padding-right:5px;}
.sc2List .sc2Head{border: 1px solid #e8e8e8;line-height: 39px;margin: 10px 0;color: #3c3c3c;background: #f5f5f5;clear: both;overflow:hidden;}
.sc2List UL{background-color:#FDFDEF;overflow:hidden;}
.sc2List UL LI{padding: 10px 0;border-bottom: 1px dashed #ddd;margin-bottom: -1px;overflow:hidden;}
.sc2List .sc1{float:left;width:30px}
.sc2List .sc2{float:left;width:790px}
.sc2List .sc2 .sc2Img{float:left;width:60px;text-align:center;}
.sc2List .sc2 .sc2Img IMG{width:50px}
.sc2List .sc2 .sc2Content{float:left;width:730px}
.sc2List .sc3{float:left;width:100px;text-align:right}
.sc2List .sc4{float:left;width:100px;text-align:right}
.sc2List .sc5{float:left;width:100px;text-align:right}
.sc2List .sc6{float:left;width:80px;text-align:center}
.sc2List .sc2Footer{padding:5px}
.sc2Op{overflow:hidden;float:right;padding:10px;margin-bottom:20px;padding-right:10px;text-align:right;width:700px}
/*******************************************************2013-10-22**********************************************************************************/
.headCenter{width:1200px;overflow:hidden;}
.headCenter .flrLeft{float:left;margin-top: 5px;overflow:hidden;margin-bottom:10px;}
.headCenter .flrRight{overflow:hidden;padding:10px;margin-bottom:20px;text-align:right;}
.headCenter .flrRight .alert{float:right;clear:both;font-size:12px;color:#c00;font-weight:700;width:300px}
.headCenter .flrRight .btn-box{float:right}
.btn-box .buy-more-btn{display:block;float:left;width:130px;height:40px;background-position:-175px -70px;}
.btn-box .buy-more-btn:hover{background-position:-175px -117px;}
.btn-box .fare-btn{display:block;float:left;width:110px;height:40px;background-position:-175px -168px;}
.btn-box .fare-btn:hover{background-position:-175px -213px;}
.btn-box .buyer-agree-btn{display:block;float:left;width:150px;height:40px;background-position:-175px -267px;}
.btn-box .buyer-agree-btn:hover{background-position:-175px -311px;}

.headCenter .flrLeft .hplbMiddle{padding-top:5px}
.headCenter .flrLeft .hplbMiddle UL{overflow:hidden;}
.headCenter .flrLeft .hplbMiddle UL LI{float:left;width:124px;background-color:#fff;}
.headCenter .flrLeft .hplbMiddle UL LI .imgDiv{width:84px;padding:5px 0;margin:0 auto;border:1px solid #eee;text-align:center;}
.headCenter .flrLeft .hplbMiddle UL LI .imgDiv IMG{height:74px}
.headCenter .flrLeft .hplbMiddle UL LI .bookName{width: 80%;height: 32px;margin:5px auto 0 auto;overflow:hidden}
.headCenter .flrLeft .hplbMiddle UL LI .price{width:70%;margin:5px auto 0 auto;}
.headCenter .flrLeft .hplbMiddle #bookAgain{width:118px;height:120px;margin-right:5px;padding:0;position: relative;background-image:url(/images/new1/bookAgain.gif)}
.headCenter .flrLeft .hplbMiddle UL LI .expressage{font-size:24px;color:#fff;font-weight:700;position:absolute;top:67px;left:29px;cursor:default}
.headCenter .flrLeft .hplbMiddle #moreBook{width:82px;margin-left:2px;padding:0;cursor:pointer}

/***************************笔购买列表*******************************/
.penList{margin-bottom:10px}
.penList h3{padding:5px 0;}
.penList .borderLeft{border-left:none}
.penList .borderBottom{border-bottom:none}
.penList .borderRight{border-right:none}
.penList .borderTop{border-top:none}
.penList ul{overflow:hidden}
.penList ul li{float:left;width:595px;overflow:hidden;padding:10px 0;border:1px solid #e5e5e5;}
.penList ul li .penDiv{margin-left:120px}
.penList ul li .penDiv input[type=checkbox]{width:20px;height:20px;margin-left:5px}
.penList ul li .penDiv img{width:30px;height:40px;margin-right:5px;vertical-align:top}
.penList ul li .penDiv .penDivBuy{text-align:left;width:auto;display:inline-block}
.penList ul li .penDiv .penDivRed{color:#DA0000;font-size:14px;}
.penList ul li .penDiv input[type=text]{width:40px;height:24px;line-height:30px;ime-mode:disabled;text-align:center}
.penList ul li .penDiv .bookName{white-space:nowrap;text-overflow:ellipsis;height:24px;line-height:24px}
.mui-amount-btn{display:inline-block;vertical-align:top}
.mui-amount-increase{width:15px;height:11px;overflow:hidden;cursor:pointer;border:1px solid #a7a6ab;display:block;margin-bottom:3px;background-repeat:no-repeat;background-position:-14px -58px}
.mui-amount-decrease{width:15px;height:11px;overflow:hidden;cursor:pointer;border:1px solid #a7a6ab;display:block;background-repeat:no-repeat;background-position:-32px -58px}
.mui-amount-decrease,.mui-amount-increase{background-image:url(/images/new1/mui-amount.png)}

/************/
.notice-tip{line-height:24px;color:#a50304;}
.mask-wrap{display:none;position:fixed;z-index:999;padding:50px 80px;left:50%;top:50%;margin:-50px 0 0 -100px;background:#6c6c6c;color:#fff;font-size:16px;border-radius:5px;}


/********入驻店铺购物车**************/
.shSc_liucheng{color:#000;font-weight:700}
.shSc_qzy{color: #cc0000;font-weight: bold;font-size: 14px;margin-bottom: 20px;}
.shShoppingCartHead{overflow:hidden;border: 1px solid #e8e8e8;line-height: 39px;margin: 10px 0;color: #3c3c3c;background: #f5f5f5;clear: both;}
.shsc1{float:left;width:10px}
.shsc2{float:left;width:570px}
.shsc2 .th{padding-left:100px;}
.shsc2 .shsc2Img{float:left;width:40px}
.shsc2 .shsc2Img IMG{width:30px}
.shsc2 .shsc2Content{float:left;width:330px;line-height:20px;}
.shsc3{float:left;width:140px;text-align:right}
.shsc4{float:left;width:140px;text-align:right}
.shsc5{float:left;width:130px;text-align:center}
.shsc6{float:left;width:198px;text-align:center}
.shShoppingCartShopList{margin-top:20px}
.shShoppingCartShopInfo{border-bottom:1px solid #dddeee;padding:0 0 5px 10px;line-height:24px;color:#666;}
.shShoppingCartShopInfo .title{color:#000}
.shShoppingCartShopInfo .shop-address{display:inline-block;margin-left:20px;}
.shShoppingCartList{background-color:#E3F3F3}
.shShoppingCartList ul{overflow:hidden;}
.shShoppingCartList LI{overflow:hidden;padding:10px 0;border-bottom:1px dashed #ccc;margin-bottom:-1px;}
.shShoppingCartFooter{overflow:hidden;margin:5px 0 10px 0;height:20px;line-height:20px;padding:5px 0;}
.txtBuyNumberSh{width:25px}
.shQuantityMax{color:green}
.shBuyModifyError{color:#c00;font-weight:700}
.shp_message_error{overflow:hidden;padding-left:50px;background-image:url(/images/shop/all/ic_error.png) no-repeat 8px 8px;font-size:20px;color:#a00;font-weight:700;line-height:55px}
.shp_message_ok{overflow:hidden;padding-left:50px;background-image:url(/images/shop/all/ic_ok.png) no-repeat 8px 8px;font-size:20px;color:#0a0;font-weight:700;line-height:55px}
.settlement-btn{float:right;display:block;width:90px;height:20px;background-position:-175px -360px;font-size:0;}
.settlement-btn:hover{background-position:-175px -384px;}
/************店铺活动***************/
.shp-activity-wrap{display:inline-block;position:relative;}
.shp-activity-wrap .shop-activity-trigger{display: inline-block;width: 57px;height: 25px;line-height: 25px;padding: 0 0 0 11px;color: #f40;background-position: 0 -42px;margin-left: 10px;position: relative;cursor: pointer;}
.shp-activity-wrap .shop-activity-trigger .arrow{position: absolute;display: block;width: 5px;height: 3px;right: 9px;top: 11px;background-position: -76px -48px;}
.shp-activity-wrap .shop-activity-trigger.hover .arrow{background-position: -76px -58px;}
.shp-activity-wrap.on .shop-activity-popup{display:block;}
.shop-activity-popup{display:none;border:1px solid #f60;position:absolute;top:30px;border-radius: 1px;padding: 5px 8px;background: #fff;box-shadow: 0 2px 1px rgba(0,0,0,.06);float: left;color: #9c9c9c;overflow: visible;z-index:99;}
.shop-activity-popup .arrow{top: -6px;left: 35px;background-position: -90px -48px;width: 11px;height: 6px;display: block;position: absolute;
z-index: 100;}
.shp-activity-wrap .activity-list{width:200px;}
.shp-activity-wrap .activity-list li{position:relative;margin: 10px 0 10px 10px;line-height:20px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.shp-activity-wrap .activity-list li .content{color:#6d6d6d;}
.shp-activity-wrap .activity-list li img{vertical-align:middle;}
