@charset "utf-8";
/* CSS Document */
form{  position:absolute;
       border:none;
	   margin:auto;
	   left:30%;	   
	}
table{ border:dotted thin #FFF;
	   background-color:#70E7E3;
	   border-radius:2px;
	   box-shadow:2px 2px #999999;	
	   border-collapse:collapse;
	   outline:dotted medium #C3F; 
	   outline-radius:10px;
	   overflow:hidden;	   
	}
td{    border:dotted thin #C3F;
       empty-cell:show;
	   height:60px;
	}
caption{
	   border:solid thin #CCC;  
	   text-align:left;
	   color:#F06;
	   background-color:#CCC;
	}
span.transpanrent{
	color:#70E7E3;	
	}
p.button_1>input{
	color:#FFF;
	background-color:#F93;
	}
.red{
	color:#F00;
	}

